<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/myrentals-style.css" />

    <title>Rentals</title>
  </head>
  <body>
    <%- include('../partials/_navbar') %>
    <div class="rentals-container">
      <% rentals.forEach(rental => { %>
      <div class="rental-card">
        <% if (rental.car.image) { %>
        <img
          src="../uploads/<%=rental.car.image%>"
          alt="<%= rental.car.manufacturer %> <%= rental.car.model %>"
        />
        <% } %>
        <h2 class="car-title">
          <%= rental.car.manufacturer %> <%= rental.car.model %>
        </h2>
        <p class="car-detail">From: <%= rental.startDate.toDateString() %></p>
        <p class="car-detail">To: <%= rental.endDate.toDateString() %></p>
        <p class="car-detail">Total Cost: $<%= rental.totalCost %></p>
        <div class="car-actions">
          <form
            action="/rentals/<%= rental._id %>?_method=DELETE"
            method="post"
            class="inline-form"
          >
            <button type="submit" class="button delete-button">
              Cancel Rental
            </button>
          </form>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
