<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/showdetails-style.css" />
    <title>Details</title>
  </head>
  <body>
    <%- include('../partials/_navbar') %>
    <div class="detail-container">
      <h1 class="car-title">
        <% if (car.image) { %>
        <img
          src="../uploads/<%=car.image%>"
          alt="<%= car.manufacturer %> <%= car.model %>"
        />
        <% } %> <% if (user && String(user._id) === String(car.user._id)) { %>
        <%= car.manufacturer %> <%= car.model %> (<%= car.year %>)
      </h1>
      <p class="car-detail">License Plate: <%= car.plate %></p>
      <p class="car-detail">Price: $<%= car.price %> per day</p>
      <p class="car-detail">
        Available: <%= car.availability ? 'Yes' : 'No' %>
      </p>
      <a href="/cars/<%= car._id %>/edit">Edit</a>
      <form action="/cars/<%= car._id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
      </form>
      <% } else if (car.availability) { %>
      <a href="/rentals/rent/<%= car._id %>">Rent</a>
      <% } %>
    </div>
  </body>
</html>
